<template lang="pug">
  .select(v-click-outside="toggleListVisibility" @click="isShow = !isShow" :class="{ '-open': isShow }")
    .value-wrapper
      slot {{ value }}

    input(type="hidden" :name="name" :value="value")

    ul.options(v-show="isShow")
      li.options-item(v-if="needClearButton && !!value.length" @click="$emit('click', '')")
        p Очистить
        IconCross
      li.options-item(v-for="(item, index) in options" :key="index" @click="$emit('click', item)")
        p {{ item }}
</template>

<script>
import IconCross from '@/assets/icons/IconCross'

export default {
  name: 'Select',
  components: {
    IconCross
  },
  model: {
    prop: 'value',
    event: 'click'
  },
  props: {
    value: {
      type: String,
      default: ''
    },
    name: {
      type: String,
      default: ''
    },
    needClearButton: {
      type: Boolean,
      default: false
    },
    options: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      isShow: false
    }
  },
  methods: {
    toggleListVisibility() {
      this.isShow = false
    }
  }
}
</script>

<style lang="scss" scoped>
.select {
  width: 100%;
  position: relative;
  z-index: 6;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  column-gap: 14px;
  cursor: pointer;

  &::after {
    position: relative;
    content: '';
    right: 0;
    top: 3px;
    border: 4px solid transparent;
    border-top: 6px solid #A0A4A8;
    transform-origin: center;
  }

  .value-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;

    ::v-deep p, span {
      text-overflow: ellipsis;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  &.-open::after {
    transform: rotate(180deg)translateY(5px);
  }

  .options {
    min-width: 100%;
    position: absolute;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 3px 8px rgba(0,0,0,.06);
    padding: 12px 8px;
    z-index: 6;
    right: 0;
    top: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 8px;

    &-item {
      white-space: nowrap;
      cursor: pointer;
      padding: 4px 12px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      column-gap: 12px;
      justify-content: space-between;

      &:hover {
        background-color: #F3F4F6;
      }
    }
  }
}
</style>
