<template lang="pug">
  .section(v-click-outside="toggleListVisibility" @click="isShow = !isShow" :class="{ '-underline': !list.length, '-open': isShow }")
    template(v-if="!!url.length")
      router-link(:to="url")
        p.title {{ title }}
    template(v-else)
      p.title {{ title }}

    svg.arrow(v-if="!!list.length" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
      path(d="M17 10L12 15L7 10" stroke="#52575C" stroke-width="1.5")

    template(v-if="!!list.length")
      ul.subsection(v-show="isShow")
        li.subsection-item(v-for="(item, index) in list" :key="index")
          router-link(:to="item.url") {{ item.title }}
</template>

<script>
export default {
  name: 'DropDown',
  props: {
    title: {
      type: String,
      default: ''
    },
    url: {
      type: String,
      default: ''
    },
    list: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      isShow: false
    }
  },
  methods: {
    toggleListVisibility() {
      this.isShow = false
    }
  }
}
</script>

<style lang="scss" scoped>
.section {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  cursor: pointer;

  .title {
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
  }

  &:not(.-underline) {
    .title,
    .arrow {
      pointer-events: none;
      transform-origin: center;
    }
  }

  &:hover {
    .title {
      color: #53AD59;
    }

    .arrow {
      stroke: #53AD59;
    }

    &.-underline {
      box-shadow: inset 0 -3px 0 0 #53AD59;
    }
  }

  &.-open {
    .title {
      color: #53AD59;
    }

    .arrow {
      transform: rotate(180deg);
    }
  }

  .subsection {
    position: absolute;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 3px 8px rgba(0,0,0,.06);
    padding: 12px 8px;
    z-index: 6;
    left: 0;
    top: 64px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;

    &-item {
      white-space: nowrap;
      cursor: pointer;
      padding: 4px 12px;
      border-radius: 4px;

      &:hover {
        background-color: #F3F4F6;
      }
    }
  }
}
</style>
