<template lang="pug">
  .overlay
    .modal(v-click-outside="close" :class="{ '-rounded': isRounded }")
      slot(name="header")
      IconCross.icon(@click.native="close")
      slot(name="content")
</template>

<script>
import IconCross from '@/assets/icons/IconCross'

export default {
  name: 'Modal',
  components: {
    IconCross
  },
  props: {
    isRounded: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    close() {
      this.$emit('close')
      document.body.removeAttribute('style')
    }
  },
  mounted() {
    if (typeof document !== 'undefined') {
      document.body.style.overflowY = 'hidden'

      document.addEventListener('keyup', event => {
        if (event.key === 'Escape') {
          this.$emit('close')
        }
      })
    }
  },
  beforeDestroy() {
    if (typeof document !== 'undefined') {
      document.removeEventListener('keyup', event => {
        if (event.key === 'Escape') {
          this.$emit('close')
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.overlay {
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0,0,0,.4);
  width: 100%;
  height: 100vh;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;

  .modal {
    background: #FFFFFF;
    position: relative;

    &.-rounded {
      border-radius: 4px;
    }

    .icon {
      position: absolute;
      right: 17px;
      top: 17px;
      cursor: pointer;
    }
  }
}
</style>
