<template lang="pug">
  .range-slider(@mousewheel.prevent="mousewheelX" @keydown.left="keydownLeft" @keydown.right="keydownRight")
    .line(ref="slider" @click="clickSlider")
      span.line-one(:style="styleLineOne")

    .control(:style="getControlPosition('leftX')" @touchstart="() => controlHandler()" @mousedown="() => controlHandler()")

    .control(:style="getControlPosition('leftTwo')" @touchstart="() => controlHandler(true)" @mousedown="() => controlHandler(true)")
</template>

<script>
export default {
  name: 'RangeSlider',
  model: {
    prop: 'value',
    event: 'input'
  },
  props: {
    value: {
      type: null,
      default: null
    },
    step: {
      default: 1,
      type: Number
    },
    max: {
      type: Number,
      default: 100
    },
    min: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {
      leftX: 0,
      leftTwo: 0,
      isTwo: false,
      timer: null,
      localValue: 0
    }
  },
  computed: {
    styleLineOne() {
      let widthX = this.leftTwo - this.leftX
      let { leftX } = this

      if (this.leftX > this.leftTwo) {
        widthX = this.leftX - this.leftTwo
        leftX = this.leftTwo
      }

      return {
        width: `${widthX}%`,
        left: `${leftX}%`
      }
    },
    stepDecimals() {
      return this.step % 1 !== 0
    }
  },
  watch: {
    value: {
      immediate: true,
      handler: 'changePosition'
    }
  },
  methods: {
    mousewheelX(evt) {
      if (evt.wheelDelta > 0) {
        let val = this.value + this.step
        val = this.stepDecimals ? this.toDecimal(val) : Math.round(val)
        if (this.value >= this.max) {
          val = this.max
        }
        this.$emit('input', val)
      } else {
        let val = this.value - this.step
        val = this.stepDecimals ? this.toDecimal(val) : Math.round(val)
        if (this.value <= this.min) {
          val = this.min
        }
        this.$emit('input', val)
      }
    },
    keydownLeft() {
      let val = this.value - this.step
      val = this.stepDecimals ? this.toDecimal(val) : Math.round(val)
      if (this.value === this.min) {
        val = this.min
      }
      this.emitInput(val)
    },
    keydownRight() {
      let val = this.value + this.step
      val = this.stepDecimals ? this.toDecimal(val) : Math.round(val)
      if (this.value >= this.max) {
        val = this.max
      }
      this.emitInput(val)
    },
    controlHandler(isTwo) {
      this.isTwo = Boolean(isTwo)
      this.activeFocus()
    },
    activeFocus() {
      window.addEventListener('mouseup', this.removeEvents)
      window.addEventListener('mousemove', this.mouseMoveX)
      window.addEventListener('touchmove', this.mouseMoveX)
      window.addEventListener('touchend', this.removeEvents)
    },
    mouseMoveX(evt) {
      const { slider } = this.$refs
      let leftX

      if (evt.type === 'touchmove') {
        leftX = evt.targetTouches[0].clientX - slider.getBoundingClientRect().left
      } else {
        leftX = evt.clientX - slider.getBoundingClientRect().left
      }

      if (Math.sign(leftX) === -1) {
        leftX = 0
      } else if (leftX > slider.clientWidth) {
        leftX = slider.clientWidth
      }

      this.changeLeft(leftX)
    },
    removeEvents() {
      window.removeEventListener('mouseup', this.removeEvents)
      window.removeEventListener('mousemove', this.mouseMoveX)
      window.removeEventListener('touchmove', this.mouseMoveX)
      window.removeEventListener('touchend', this.removeEvents)
    },
    clickSlider(evt) {
      const { slider } = this.$refs
      const leftX = evt.clientX - slider.getBoundingClientRect().left

      const percentX = Math.round((leftX / slider.clientWidth) * 100)

      this.isTwo = Math.abs(percentX - this.leftX) > Math.abs(percentX - this.leftTwo)

      this.changeLeft(leftX)
    },
    changeLeft(leftX) {
      const { slider } = this.$refs
      const percentX = (leftX / slider.clientWidth) * 100
      const lengthPerStep = 100 / ((this.max - this.min) / this.step)
      const steps = Math.round(percentX / lengthPerStep)
      let val = steps * lengthPerStep * (this.max - this.min) * 0.01 + this.min
      val = this.stepDecimals ? this.toDecimal(val) : Math.round(val)
      let newVal

      if (val > this.max) {
        val = this.max
        this[this.isTwo ? 'leftTwo' : 'leftX'] = 100
      } else {
        this[this.isTwo ? 'leftTwo' : 'leftX'] = steps * lengthPerStep
      }

      newVal = { ...this.value }
      const min = Math.round((this.leftTwo / 100) * (this.max / this.step)) * this.step
      const max = Math.round((this.leftX / 100) * (this.max / this.step)) * this.step
      if (min < max) {
        newVal[this.isTwo ? 'min' : 'max'] = val
      } else if (min > max) {
        newVal[this.isTwo ? 'max' : 'min'] = val
      } else {
        newVal = { min: val, max: val }
      }

      this.emitInput(newVal)
    },
    emitInput(value) {
      this.$emit('input', value)
    },
    changePosition(value) {
      if (value > this.max) {
        this.localValue = this.max
      } else if (value < this.min) {
        this.localValue = this.min
      } else {
        this.localValue = value
      }

      this.leftX = ((this.localValue.max - this.min) / (this.max - this.min)) * 100
      this.leftTwo = ((this.localValue.min - this.min) / (this.max - this.min)) * 100
    },
    toDecimal(value) {
      return parseFloat(value.toFixed(1))
    },
    getControlPosition(field) {
      return { left: `calc(${this[field]}% - 6px)` }
    }
  }
}
</script>

<style lang="scss" scoped>
.range-slider {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  user-select: none;
  padding: 6px 0;

  * {
    transition: none;
  }

  .line {
    height: 2px;
    background-color: #75BD7A;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }

  .line-one {
    width: 20px;
    height: 100%;
    top: 0;
    position: absolute;
    left: 0;
    z-index: 1;
    background-color: #4B9C50;
  }

  .control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #53AD59;
    cursor: pointer;
    transition: none;
  }
}
</style>
