<template lang="pug">
  footer.footer
    .footer-wrapper
      nav.navigation
        a.link(v-for="(item, index) in navigation" :key="index" :href="item.url") {{ item.title }}

      .container
        img.logo(src="@/assets/svg/logo-gray.svg" alt="Portal DA logo")

        .block
          h5.caption Консультация
          a.link(href="tel:+79850143308") +7 985 014-33-08
          a.link.-underlined(href="mailto:auction_da@sberbank.ru") auction_da@sberbank.ru

        .block
          h5.caption Скачайте приложение
          .app-logo-container
            a(href="/")
              img.app-logo(src="@/assets/svg/app-store.svg" alt="Загрузите в AppStore")
            a(href="/")
              img.app-logo(src="@/assets/svg/google-play.svg" alt="Доступно в Google Play")

      .legal-info
        p.text © 2021 Portal DA – Реализация непрофильных и залоговых активов
        a.link(href="/") Политика конфиденциальности
        a.link(href="/") Условия использования
</template>

<script>
export default {
  name: 'Footer',
  data() {
    return {
      navigation: [
        {
          title: 'Каталог активов',
          url: '/'
        },
        {
          title: 'Аукционы Портала DA',
          url: '/'
        },
        {
          title: 'О проекте',
          url: '/'
        },
        {
          title: 'Партнёрам',
          url: '/'
        },
        {
          title: 'Помощь',
          url: '/'
        },
        {
          title: 'Контакты',
          url: '/'
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
.footer {
  width: 100%;

  &-wrapper {
    max-width: 1344px;
    width: 100%;
    padding: 0 16px 20px;
    margin: 0 auto;
  }

  .navigation {
    display: flex;
    width: 100%;
    column-gap: 24px;
    padding-bottom: 20px;
    border-bottom: 1px solid #CACCCF;
    margin-bottom: 40px;

    .link {
      font-size: 14px;
      font-weight: 500;
      line-height: 16px;
      cursor: pointer;

      &:hover {
        color: #53AD59;
      }
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
    padding-right: 152px;
  }

  .logo {
    height: 44px;
    width: 148px;
    margin-right: 48px;
  }

  .block {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    padding-right: 16px;

    .caption {
      font-size: 12px;
      font-weight: 400;
      line-height: 14px;
      color: #404040;
    }

    .link {
      font-size: 16px;
      font-weight: 500;
      line-height: 19px;
      cursor: pointer;

      &.-underlined {
        border-bottom: 1px solid #CACCCF;
      }

      &:hover {
        color: #53AD59;
      }
    }

    .app-logo {
      height: 40px;
      width: 120px;

      &-container {
        display: flex;
        column-gap: 8px;
      }
    }
  }

  .legal-info {
    width: 100%;
    margin-top: 48px;
    display: flex;
    align-items: center;

    .text,
    .link {
      font-size: 12px;
      line-height: 14px;
      color: #52575C;
    }

    .text {
      margin-right: auto;
    }

    .link {
      text-decoration: underline;
      margin-left: 24px;

      &:hover {
        color: #25282B;
      }
    }
  }
}
</style>
