<template lang="pug">
  .greeting
    .greeting-wrapper
      h1.caption Реализация непрофильных и залоговых активов

      .filter
        .tabs
          .tab(:class="{ '-active': isPurchase }" @click="isPurchase = true") Купить
          .tab(:class="{ '-active': !isPurchase }" @click="isPurchase = false") Снять

        form.content(ref="buy")
          .fields()
            .section.type(v-click-outside="closeTypes" @click="isCategoriesVisible = !isCategoriesVisible")
              IconFilter.icon
              p.text Тип актива

              .type-wrapper(v-show="isCategoriesVisible")
                aside.block.types
                  a.link.types(v-for="(type, index) in $options.static.types" :key="index" :href="type.url" :class="{'-active': type.id === currentTypeId}" @mouseenter="currentCategory(type.children, type.id)")
                    p.name {{ type.name }}
                    span.count {{ type.count }}
                    svg.arrow(v-if="type.children" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                      path.arrow-path(d="M17 10L12 15L7 10" stroke-width="1.5")

                .block.categories
                  a.link.categories(v-for="(category, index) in categories" :key="index" :href="category.url" :class="{'-active': category.id === currentCategoryId}" @mouseenter="currentSubcategory(category.children, category.id)")
                    p.name {{ category.name }}
                    span.count {{ category.count }}
                    svg.arrow(v-if="category.children" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                      path.arrow-path(d="M17 10L12 15L7 10" stroke-width="1.5")

                .block.categories
                  a.link.categories(v-for="(subcategory, index) in subcategories" :key="index" :href="subcategory.url")
                    p.name {{ subcategory.name }}
                    span.count {{ subcategory.count }}

            .section.search(:class="{ '-error': !!error.search.length }")
              IconSearch.icon
              input.field(v-model="search" type="text" name="search" placeholder="Поиск по наименованию, категории или ID актива" @focus="error.search = ''")
              IconCross.clear(v-if="!!search.length" @click.native="clearSearch")
              span.error(v-if="!!error.search.length") {{ error.search }}

            .section.location
              Select(v-model="location" :options="$options.static.locations" need-clear-button)
                template
                  div.section-block
                    IconPin.icon
                    p.text {{ location || 'Страна, регион, город' }}

            .section.price(v-click-outside="closePrice" :class="{ '-wide': !isPurchase }")
              p.text(@click="isPriceVisible = !isPriceVisible") {{ isPurchase ? 'Стоимость' : 'Стоимость аренды' }}

              .price-wrapper(v-show="isPriceVisible")
                rangeSlider(v-model="price" ref="rangeSlider" :min="$options.static.min" :max="$options.static.max")
                .price-container
                  .price-block.min
                    span.text От
                    input.price-input(v-model="price.min" type="text" name="min" @focus="highlightContent" @input="updatePrice($event, 'min')" @keydown="checkNumberKeys")
                    p.unit ₽
                  .price-block.max
                    span.text До
                    input.price-input(v-model="price.max" type="text" name="max" @focus="highlightContent" @input="updatePrice($event, 'max')" @keydown="checkNumberKeys")
                    p.unit ₽

            .section.deal(v-show="isPurchase")
              Select(v-model="deal" :options="$options.static.deals" need-clear-button)
                template
                  p.text {{ deal || 'Тип сделки' }}

          button.button.green(@click="submit") Найти

      .service
        .service-card(v-for="(service, index) in services" :key="index" @click="openMagicModal(service.value, service.id)")
          h2.name {{ service.name }}
          img.icon(:src="require(`@/assets/svg/${service.icon}.svg`)" :alt="service.name")
          div
            p.value {{ service.value }}
            span.unit {{ service.unit }}

    Modal(v-if="isMagicModalVisible" is-rounded @close="isMagicModalVisible = false")
      template(#header)
        .modal-header
          h2.title Волшебный диалог
          h4.additional-caption Лорем ипсум сит амет и иже с ними
      template(#content)
        .modal-content
          p.text Количество активов
          .counter-wrapper
            input.counter(v-model="assetsNumber" type="text" @focus="highlightContent" @keydown="checkNumberKeys")
            button.button.outline(@click="randomAssetsNumber") Рандом
          p.hint Укажите количество активов для отображения в карточке.
        .modal-content.-gray
          button.button.transparent(@click="isMagicModalVisible = false") Отменить
          button.button.green(@click="saveAsset") Сохранить
</template>

<script>
import axios from 'axios'
import IconFilter from '@/assets/icons/IconFilter'
import IconSearch from '@/assets/icons/IconSearch'
import IconPin from '@/assets/icons/IconPin'
import IconCross from '@/assets/icons/IconCross'
import Select from '@/partials/Select'
import RangeSlider from '@/partials/RangeSlider'
import Modal from '@/partials/Modal'

const excludedKeyboardKeys = [
  'Enter',
  'ArrowUp',
  'ArrowDown',
  'ArrowLeft',
  'ArrowRight',
  'Up',
  'Down',
  'Left',
  'Right',
  'Backspace',
  'Delete',
  'Del',
  'Tab',
  'F5'
]

export default {
  name: 'GreetingBlock',
  components: {
    IconFilter,
    IconSearch,
    IconPin,
    IconCross,
    Select,
    RangeSlider,
    Modal
  },
  static: {
    locations: ['Россия', 'Москва', 'Казахстан', 'Нур-Султан', 'Украина', 'Киев', 'Беларуссия', 'Минск'],
    deals: ['Популярные активы', 'Коммерческая недвижимость', 'Жилая недвижимость', 'Производство', 'Другие активы'],
    types: [
      {
        id: 0,
        name: 'Популярные активы',
        count: 123,
        url: '/',
        children: [
          {
            name: 'Торговое помещение / магазин',
            count: 12,
            url: '/',
          },
          {
            name: 'Офисное помещение',
            count: 23,
            url: '/',
          }
        ]
      },
      {
        id: 1,
        name: 'Коммерческая недвижимость',
        count: 234,
        url: '/',
        children: [
          {
            id: 11,
            name: 'Торговый центр (здание)',
            count: 24,
            url: '/',
            children: [
              {
                name: 'Торговый центр #1',
                count: 1,
                url: '/',
              },
              {
                name: 'Торговое здание',
                count: 2,
                url: '/',
              }
            ]
          },
          {
            name: 'Рынок / оптовая база',
            count: 32,
            url: '/',
          }
        ]
      },
      {
        id: 2,
        name: 'Легковой транспорт',
        count: 456,
        url: '/'
      }
    ],
    min: 0,
    max: 1000
  },
  data() {
    return {
      isPurchase: true,
      isCategoriesVisible: false,
      currentTypeId: 0,
      currentCategoryId: 0,
      categories: this.$options.static.types[0].children,
      subcategories: [],
      search: '',
      location: '',
      isPriceVisible: false,
      price: {
        min: this.$options.static.min,
        max: this.$options.static.max
      },
      inputMin: this.$options.static.min,
      inputMax: this.$options.static.max,
      deal: '',
      error: {
        search: ''
      },
      services: [
        {
          id: '0',
          name: 'Купить',
          icon: 'buy',
          value: '8 460',
          unit: 'активов'
        },
        {
          id: '1',
          name: 'Снять',
          icon: 'rent',
          value: '984',
          unit: 'актива'
        },
        {
          id: '2',
          name: 'Продать',
          icon: 'sell',
          value: '12 000',
          unit: 'значение авто'
        },
        {
          id: '3',
          name: 'Сдать',
          icon: 'pass',
          value: '1 238',
          unit: 'значение авто'
        }
      ],
      isMagicModalVisible: false,
      assetsNumber: null,
      currentServiceId: null
    }
  },
  methods: {
    getImage(imageName) {
      return `@/assets/icons/${imageName}.svg`
    },
    clearSearch() {
      this.search = ''
    },
    currentCategory(categories, currentTypeId = 0) {
      this.categories = categories || []
      this.currentTypeId = currentTypeId
      this.subcategories = []
      this.currentCategoryId = 0
    },
    currentSubcategory(subcategories, currentCategoryId = 0) {
      this.subcategories = subcategories || []
      this.currentCategoryId = currentCategoryId
    },
    closeTypes() {
      this.categories = this.$options.static.types[0].children
      this.subcategories = []
      this.currentTypeId = 0
      this.currentCategoryId = 0
      this.isCategoriesVisible = false
    },
    closePrice() {
      this.isPriceVisible = false
    },
    highlightContent(event) {
      event.target.select()
    },
    checkNumberKeys(event) {
      const numberKey = Number(event.key)

      if (!excludedKeyboardKeys.includes(event.key) && !(numberKey >= 0 && numberKey <= 9)) {
        event.preventDefault()
        return false
      }
    },
    updatePrice(event, type) {
      const currentValue = Number(event.target.value)

      if (currentValue <= this.$options.static.min || typeof currentValue === 'undefined' || Number.isNaN(currentValue)) {
        this.price[type] = this.$options.static.min
      } else if (currentValue >= this.$options.static.max) {
        this.price[type] = this.$options.static.max
      } else {
        this.price[type] = currentValue || 0
      }

      this.$refs.rangeSlider.changePosition(this.price)
    },
    async submit() {
      if (!this.isFormValid()) {
        return false
      }

      try {
        const response = await axios.post('/some-url', {
          query: this.search,
          priceRange: this.price,
          location: this.location,
          deal: this.deal
        })

        if (response?.status === 'error') {
          return false
        }

        // do something
      } catch (error) {
        console.error(error);
      }
    },
    isFormValid() {
      this.error.search = ''

      if (this.search.length <= 0) {
        this.error.search = 'Заполните поле'
        return false
      }

      return true
    },
    openMagicModal(value, id) {
      this.isMagicModalVisible = true
      this.assetsNumber = value
      this.currentServiceId = id
    },
    randomAssetsNumber() {
      let number = Math.floor(Math.random() * 10000) + 1

      this.assetsNumber = number
          .toString()
          .split(/(?=(?:\d{3})+$)/)
          .join('\u00A0')
    },
    saveAsset() {
      this.services[this.currentServiceId].value = this.assetsNumber
      this.isMagicModalVisible = false
    }
  }
}
</script>

<style lang="scss" scoped>
.greeting {
  width: 100%;
  margin-bottom: 96px;
  background: no-repeat center top url('https://i2.piccy.info/i9/b79b6c887855cc50cbd7336a6e447bab/1643092430/96669/1455987/background.jpg');
  background-size: auto 440px;

  &-wrapper {
    max-width: 1344px;
    width: 100%;
    padding: 100px 16px 0;
    margin: 0 auto;
  }

  .caption {
    color: #FFFFFF;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 24px;
  }

  .section {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 16px;
    transition: none;

    &:not(:last-child) {
      border-right: 1px solid #E8E8E8;
    }

    &-block {
      display: flex;
      align-items: center;
    }

    &.type {
      width: 144px;
      cursor: pointer;
    }

    &.search {
      flex: 1;
    }

    &.location {
      width: 240px;
    }

    &.price,
    &.deal {
      width: 160px;
      cursor: pointer;
    }

    &.-wide.price {
      width: 200px;
    }

    &.-error {
      color: #FF2323FF;

      .field::placeholder {
        color: #FF2323FF;
      }
    }

    .error {
      position: absolute;
      left: 48px;
      bottom: -8px;
      font-size: 10px;
      color: #FF2323FF;
    }
  }

  .filter {
    z-index: 2;
    position: relative;
    width: 100%;
    margin-bottom: 148px;

    .tabs {
      display: flex;
      column-gap: 4px;
    }

    .tab {
      font-size: 15px;
      font-weight: 500;
      line-height: 22px;
      background-color: #F3F4F6;
      border-radius: 4px 4px 0 0;
      cursor: pointer;
      padding: 12px 16px;

      &:not(.-active) {
        background-color: #25282B;
        color: #FFFFFF;
        opacity: 0.8;

        &:hover {
          background-color: rgba(82,87,92,.8);
        }
      }
    }

    .content {
      display: flex;
      align-items: center;
      background: #FFFFFF;
      box-shadow: 0 16px 32px rgba(0,0,0,.24);
      border-radius: 0 4px 4px 4px;
      height: 56px;
      padding-right: 8px;
    }

    .fields {
      display: flex;
      flex: 1;
    }

    .field {
      font-size: 15px;
      line-height: 22px;
      height: 24px;
      flex: 1;

      &::placeholder {
        color: #909497;
      }
    }

    .icon {
      margin-right: 8px;
    }

    .clear {
      cursor: pointer;
      margin-left: 8px;
    }

    .text {
      font-size: 15px;
      line-height: 18px;
      color: #52575C;
      padding: 8px 0;
    }

    .button {
      width: 120px;
      height: 40px;
    }
  }

  .type-wrapper {
    position: absolute;
    width: 960px;
    max-height: 50vh;
    left: 16px;
    top: 44px;
    background-color: #FFFFFF;
    border-radius: 4px;
    overflow: hidden;
    display: flex;

    .block{
      width: 320px;
      padding: 24px 0 24px 12px;
      overflow-y: auto;
      position: relative;

      &.types {
        background-color: #F3F4F6;
      }

      &.categories {
        padding-right: 12px;
      }
    }

    .link {
      display: flex;
      align-items: center;
      position: relative;
      padding: 4px 16px 4px 8px;

      &.types {
        border-radius: 4px 0 0 4px;

        &:hover,
        &.-active {
          background-color: #FFFFFF;

          .name {
            color: #53AD59;
          }

          .arrow-path {
            stroke: #53AD59;
          }
        }
      }

      &.categories {
        border-radius: 4px;

        &:hover,
        &.-active {
          background: #53AD59;

          .name,
          .count {
            color: #FFFFFF;
          }

          .arrow-path {
            stroke: #FFFFFF;
          }
        }
      }
    }

    .arrow {
      transform: rotate(-90deg);

      &-path {
        stroke: #A0A4A8;
      }
    }

    .name {
      font-size: 14px;
      line-height: 20px;
      color: #52575C;
      margin-right: 8px;
    }

    .count {
      font-size: 13px;
      line-height: 18px;
      color: #909497;
      margin-right: auto;
    }
  }

  .price {
    &-wrapper {
      position: absolute;
      left: 16px;
      top: 44px;
      background-color: #FFFFFF;
      border-radius: 4px;
      overflow: hidden;
      padding: 24px;
    }

    &-container {
      display: flex;
      align-items: center;
      column-gap: 24px;
    }

    &-block {
      display: flex;
      align-items: center;
      margin-top: 16px;
      column-gap: 8px;
      border-bottom: 1px solid #CACCCF;

      &:hover {
        border-bottom-color: #52575c;
      }

      .text {
        color: #909497;
        font-size: 12px;
        line-height: 14px;
      }

      .price-input,
      .unit {
        font-size: 15px;
        line-height: 22px;
      }

      .price-input {
        max-width: 60px;
      }
    }
  }

  .service {
    width: 100%;
    display: flex;
    column-gap: 24px;

    &-card {
      flex: 1 1 auto;
      height: 136px;
      background: #FFFFFF;
      box-shadow: 0 3px 8px rgba(0,0,0,.08);
      border-radius: 4px;
      padding: 24px 24px 24px 32px;
      cursor: pointer;
      position: relative;

      &:hover {
        box-shadow: 0 16px 32px rgb(0 0 0 / 24%);

        .name {
          color: #53AD59;
        }
      }
    }

    .name {
      font-family: Montserrat, sans-serif;
      font-size: 20px;
      font-weight: 600;
      line-height: 26px;
      margin-bottom: 24px;
    }

    .icon {
      position: absolute;
      width: 96px;
      height: 96px;
      right: 24px;
      top: 8px;
    }

    .value {
      font-family: Montserrat, sans-serif;
      font-size: 18px;
      font-weight: 600;
      line-height: 20px;
    }

    .unit {
      font-size: 13px;
      color: #52575C;
    }
  }

  .modal-header {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.06);
    padding: 24px 24px 20px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;

    .title {
      font-family: Montserrat, sans-serif;
      font-size: 18px;
      font-weight: 600;
      line-height: 24px;
    }

    .additional-caption {
      font-size: 14px;
      line-height: 20px;
      color: #52575C;
      font-weight: 400
    }
  }

  .modal-content {
    padding: 28px 24px 60px 28px;

    &.-gray {
      padding: 24px 24px 24px 28px;
      background: #F3F4F6;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .button.green {
      height: 44px;
      width: 138px;
    }

    .text {
      font-size: 12px;
      line-height: 14px;
      color: #909497;
    }

    .hint {
      font-size: 11px;
      line-height: 16px;
      color: #909497;
    }

    .counter-wrapper {
      display: flex;
      align-items: center;
      column-gap: 16px;
      margin-bottom: 8px;
    }

    .counter {
      width: 324px;
      height: 32px;
      border-bottom: 1px solid #CACCCF;
      font-size: 15px;
      line-height: 32px;

      &:focus {
        border-bottom: 1px solid #53AD59;
      }
    }
  }

  .button {
    cursor: pointer;

    &.green {
      background-color: #53AD59;
      border: 1px solid rgba(0,0,0,.06);
      border-radius: 4px;
      font-size: 16px;
      line-height: 19px;
      color: #FFFFFF;

      &:hover {
        background-color: #75BD7A;
      }
    }

    &.outline {
      border: 1px solid #75BD7A;
      box-sizing: border-box;
      border-radius: 4px;
      background-color: transparent;
      font-size: 14px;
      line-height: 16px;
      height: 32px;
      width: 102px;


      &:hover {
        background-color: rgba(#75BD7A,.3);
      }
    }

    &.transparent {
      font-size: 16px;
      line-height: 19px;
      position: relative;

      &::before {
        position: absolute;
        left: -12px;
        top: -8px;
        content: '';
        border-radius: 4px;
        width: calc(100% + 24px);
        height: calc(100% + 16px);
        transition: all .3s ease-in-out 0s;
      }

      &:hover::before {
        background-color: rgba(0,0,0,.03);
      }
    }
  }
}
</style>
