<template lang="pug">
  header.header
    .header-wrapper
      router-link.logo(to="/")
        img.logo(src="@/assets/svg/logo.svg" alt="Portal DA logo")

      .navigation
          DropDown(v-for="(item, index) in navigation" :key="index" :title="item.title" :url="item.url" :list="item.children")

      router-link.button.place-for-sale(to="/")
        IconAdd
        p.text Разместить актив на продажу

      router-link.button.authorize(to="/")
        IconEnter
        p.text Вход и регистрация
</template>

<script>
import DropDown from '@/partials/DropDown'
import IconAdd from '@/assets/icons/IconAdd'
import IconEnter from '@/assets/icons/IconEnter'

export default {
  name: 'Header',
  components: {
    DropDown,
    IconAdd,
    IconEnter
  },
  data() {
    return {
      navigation: [
        {
          title: 'Купить',
          children: [
            {
              title: 'Item 1',
              url: '/',
            },
            {
              title: 'Item 2',
              url: '/',
            },
            {
              title: 'Item 3',
              url: '/',
            }
          ]
        },
        {
          title: 'Снять',
          children: [
            {
              title: 'Item 1',
              url: '/',
            },
            {
              title: 'Item 2',
              url: '/',
            }
          ]
        },
        {
          title: 'Сервисы',
          url: '/'
        },
        {
          title: 'Исследования',
          url: '/'
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped>
.header {
  width: 100%;
  height: 64px;
  background: #FFFFFF;
  box-shadow: 0 3px 8px rgba(0,0,0,.06);
}

.header-wrapper {
  width: 100%;
  max-width: 1440px;
  height: 100%;
  padding: 0 16px;
  margin: 0 auto;
  display: flex;
  align-items: center;

  .logo {
    width: 140px;
    height: 40px;
    margin-right: 40px;
  }

  .navigation {
    display: flex;
    align-items: center;
    column-gap: 24px;
    height: 100%;
    margin-right: auto;
  }

  .button {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 500;

    * {
      pointer-events: none;
    }

    &:hover .text {
      color: #53AD59;
    }

    .text {
      font-size: 15px;
      font-weight: 500;
      line-height: 18px;
    }

    &.place-for-sale {
      column-gap: 8px;
      margin-right: 48px;
      position: relative;
      padding: 4px 0;

      &::after {
        position: absolute;
        content: '';
        right: -24px;
        height: 100%;
        width: 1px;
        background-color: #E8E8E8;
        pointer-events: none;
      }
    }

    &.authorize {
      column-gap: 6px;
      border: 1px solid #75BD7A;
      border-radius: 4px;
      padding: 4px 16px 4px 8px;

      &:hover {
        border: 1px solid #53AD59;
        box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
      }
    }
  }
}
</style>
