<template lang="pug">
  .information
    .information-wrapper
      h2.caption.-big
        | Portal DA  – официальный сайт по реализации непрофильных активов
        br
        | и залогового имущества, созданный Сбербанком

      .information-container
        section.block
          h3.caption.-small На Portal DA размещена информация о реализуемых банками, отраслевыми компаниями, арбитражными управляющими активах:
          ul.list
            li.item.text залоговое имущество, реализуемое кредиторами (ранее принятое в залог с целью обеспечения исполнения обязательств по кредитным договорам);
            li.item.text непрофильные активы банков и компаний;
            li.item.text активы от собственников, реализуемые в добровольном порядке;
          h3.caption.-small Портал объединяет активы со всей территории России и за ее пределами.
          p.text За каждым активом закреплен менеджер (контактная информация указана в карточке актива), который по запросу может предоставить дополнительную информацию, организовать осмотр и проконсультировать по возможным типам сделки и другим аспектам приобретения.

        section.block
          h3.caption.-small На Портале можно найти необходимый для старта или расширения бизнеса актив по привлекательной стоимости. В базе представлены все типы реальных активов:
          ul.list
            li.item.text коммерческая недвижимость (торговая недвижимость, склады, офисы, гостиницы и др.)
            li.item.text производственные предприятия;
            li.item.text сельскохозяйственные комплексы;
            li.item.text жилая недвижимость (квартиры, частные дома, апартаменты);
            li.item.text земельные участки;
            li.item.text производственное и торговое оборудование;
            li.item.text транспорт и спецтехника.
</template>

<script>
export default {
  name: 'InformationBlock'
}
</script>

<style lang="scss" scoped>
.information {
  width: 100%;

  &-wrapper {
    max-width: 1344px;
    width: 100%;
    padding: 0 32px;
    margin: 0 auto 108px;
  }

  &-container {
    display: flex;
    column-gap: 68px;

    .block {
      flex: 1;
    }
  }

  .caption {
    &.-big {
      font-family: Montserrat, sans-serif;
      font-size: 20px;
      font-weight: 600;
      line-height: 26px;
      margin-bottom: 32px;
    }

    &.-small {
      font-size: 15px;
      line-height: 22px;
      margin-bottom: 8px;
    }
  }

  .text {
    font-size: 14px;
    line-height: 20px;
    color: #52575C;
  }

  .list {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    margin-bottom: 24px;
  }

  .item {
    position: relative;
    padding-left: 20px;

    &::before {
      position: absolute;
      content: '—';
      left: 0;
      font-size: inherit;
      line-height: inherit;
      color: inherit;
    }
  }
}
</style>
