<template lang="pug">
  nav.navigation
    .navigation-wrapper
      router-link.link(to="/")
        span.text Каталог активов
      router-link.link(to="/")
        span.text Аукционы Портала DA
      .link(@click="openCurrencyModal")
        span.text Курс валют к рублю

      div.list
        router-link.link(v-for="(item, index) in navigationList" :key="index" :to="item.url")
          span.text {{ item.title }}

      Select.select(v-model="language" :options="languages")
        template
          p.select-title {{ language }}

      Modal.exchange-rate(v-if="isModalVisible" @close="close")
        template(#content)
          .modal-content
            aside.modal-aside
              .modal-header
                h2.title Курс валют к рублю

              label.label(for="exchange-search") Поиск
              input.input(v-model="query" type="text" id="exchange-search" autocomplete="false" placeholder="Начните набирать символ...")

              ul.rate-list(v-if="exchangeRateLength > 0")
                li.rate-item(v-for="(item, index) in exchangeRate" :key="index" @click="openConverter(item)")
                  div.info-block
                    p.currency(v-if="item.currencyLetters") {{ item.currencyLetters }}
                    p.unit(v-if="item.unit") 1 {{ item.unit }}
                  p.value(v-if="item.value") {{ item.value }}
              span.hint(v-else) К сожалению, ничего не найдено
              button.button-more(v-if="isMoreButtonVisible && exchangeRateLength >= 10" @click="loadMore") Показать еще...

            .converter(v-show="isConverterVisible")
              label.label(for="rouble") В рублях
              .converter-block
                input.worth(v-model="currentRoubleValue" type="text" id="rouble" autocomplete="false" @input="updateExteriorValue")
                span.hint 1 RUB = {{ currencyData.value }} {{ currencyData.currencyLetters }}

              IconExchange.converter-icon

              label.label(for="currency") {{ currencyData.currencyLetters }}
              .converter-block
                input.worth(v-model="currentCurrencyValue" type="text" id="currency" autocomplete="false" @input="updateRoubleValue")
                span.hint 1 {{ currencyData.currencyLetters }} = {{ amountInRubles(currencyData.value)}} RUB
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import Select from '@/partials/Select'
import Modal from '@/partials/Modal/Modal'
import IconExchange from '@/assets/icons/IconExchange'

export default {
  name: 'Navigation',
  components: {
    Select,
    Modal,
    IconExchange
  },
  data() {
    return {
      navigationList: [
        {
          title: 'О проекте',
          url: '/'
        },
        {
          title: 'Блог',
          url: '/'
        },
        {
          title: 'Помощь',
          url: '/'
        },
        {
          title: 'Контакты',
          url: '/'
        },
      ],
      languages: ['RU','EN', 'FR'],
      language: 'RU',
      isModalVisible: false,
      isLoading: false,
      query: '',
      rate: [],
      isConverterVisible: false,
      roubleRate: null,
      currencyRate: null,
      currencyData: {
        currencyLetters: null,
        multiplicity: null,
        value: null
      },
      currentRoubleValue: 1,
      currentCurrencyValue: null,
      isMoreButtonVisible: true
    }
  },
  methods: {
    ...mapActions(['exchangeRateList']),
    close() {
      this.isModalVisible = false
      this.query = ''
    },
    openCurrencyModal() {
      this.isModalVisible = true
      this.rate = this.isMoreButtonVisible ? this.getExchangeRate.slice(0, 10) : this.rate
    },
    openConverter(chosenCurrency) {
      this.isConverterVisible = true

      this.roubleRate = chosenCurrency.value
      this.currencyRate = this.amountInRubles(chosenCurrency.value)

      this.currencyData = chosenCurrency

      this.currentRoubleValue = 1
      this.currentCurrencyValue = this.amountInRubles(chosenCurrency.value)
    },
    amountInRubles(value, inputInRouble = 1) {
      return (inputInRouble/ value).toFixed(4)
    },
    updateExteriorValue() {
      this.currentCurrencyValue = this.roubleRate * this.currentRoubleValue
    },
    updateRoubleValue() {
      this.currentRoubleValue = this.roubleRate * this.currentCurrencyValue
    },
    loadMore() {
      this.rate = [...this.rate, ...this.getExchangeRate.slice(10)]
      this.isMoreButtonVisible = false
    }
  },
  mounted() {
    this.exchangeRateList()
  },
  computed: {
    ...mapGetters(['getExchangeRate']),
    exchangeRate() {
      if (this.query.length > 0 && this.rate.length > 0) {
        const defaultList = this.getExchangeRate
        const userValue = this.query

        return defaultList.filter(item => {
          if (item.currencyLetters.toLowerCase().includes(userValue.toLowerCase())
              || item.unit.toLowerCase().includes(userValue.toLowerCase())) {
            return item
          }
        })
      }

      return this.rate
    },
    exchangeRateLength() {
      return this.exchangeRate.length
    }
  }
}
</script>

<style lang="scss" scoped>
.navigation {
  width: 100%;
  height: 32px;
  background: #25282B;
}

.navigation-wrapper {
  width: 100%;
  max-width: 1440px;
  height: 100%;
  padding: 0 16px;
  margin: 0 auto;
  display: flex;
  align-items: center;

  .list {
    display: flex;
    align-items: center;
    margin-left: auto;
    height: 100%;
    margin-right: 12px;
  }

  .link {
    height: 100%;
    cursor: pointer;
    position: relative;
    display: inline-block;
    margin-right: 24px;

    .text {
      color: #CACCCF;
      font-size: 14px;
      line-height: 16px;
      z-index: 1;
      position: relative;
      display: block;
      margin-top: 9px;
    }

    &::before {
      position: absolute;
      top: 0;
      left: -12px;
      width: calc(100% + 24px);
      height: 100%;
      content: '';
      z-index: 0;
      transition: all .3s ease-in-out 0s;
    }

    &:hover {
      &::before {
        background-color: rgba(82, 87, 92, 0.4);
      }

      .text {
        color: #FFFFFF;
      }
    }
  }

  .select {
    border: 1px solid #52575C;
    border-radius: 4px;
    padding: 4px 8px;
    width: 60px;

    &-title {
      color: #CACCCF;
      font-size: 13px;
      line-height: 15px;
    }
  }
}

.exchange-rate {
  .modal-header {
    padding: 24px 0 40px 4px;

    .title {
      font-family: Montserrat, sans-serif;
      font-size: 30px;
      font-weight: 600;
      line-height: 37px;
      color: #000000;
    }
  }

  .modal-content {
    display: flex;
  }

  .hint {
    font-size: 13px;
    line-height: 18px;
    color: #52575C;
  }

  .label {
    font-size: 16px;
    line-height: 18px;
    color: #52575C;
    margin-bottom: 4px;
    width: 100%;
    text-align: left;
  }

  .modal-aside {
    width: 456px;
    padding: 0 40px 32px 32px;
    display: flex;
    flex-direction: column;

    .hint {
      width: 100%;
      display: block;
      text-align: center;
    }

    .input {
      border: 1px solid #919191;
      border-radius: 4px;
      height: 44px;
      width: 100%;
      font-size: 13px;
      line-height: 44px;
      padding: 8px;
      color: #000000;
      margin-bottom: 46px;

      &::placeholder {
        color: #000000;
      }

      &:focus {
        border-color: #53AD59;
      }
    }

    .rate-list {
      display: flex;
      flex-direction: column;
      position: relative;
      overflow-y: auto;
      max-height: 320px;
      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .rate-item {
      display: flex;
      justify-content: space-between;
      padding: 12px 16px 4px;
      width: 100%;
      border-bottom: 1px solid #E5E5E5;

      &:first-child {
        border-top: 1px solid #E5E5E5;
      }
    }

    .value {
      margin-left: 16px;
      font-family: Montserrat, sans-serif;
      font-size: 20px;
      font-weight: 600;
      line-height: 24px;
      margin-top: 8px;
      color: #52575C;
    }

    .info-block {
      display: flex;
      flex-direction: column;
      row-gap: 4px;
    }

    .currency {
      font-family: Montserrat, sans-serif;
      font-size: 20px;
      font-weight: 600;
      line-height: 24px;
      color: #000000;
    }

    .unit {
      font-size: 13px;
      line-height: 18px;
      color: #52575C;
    }
  }

  .converter {
    border-left: 1px solid #E5E5E5;
    padding: 100px 36px 32px 32px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    &-block {
      border: 1px solid #919191;
      border-radius: 4px;
      text-align: right;
      padding: 28px 20px 12px;
      width: 456px;
    }

    &-icon {
      margin: 40px auto 28px;
    }

    .worth {
      width: 100%;
      text-align: right;
      font-family: Montserrat, sans-serif;
      font-size: 48px;
      line-height: 59px;
      color: #52575C;
      margin-bottom: 20px;
    }
  }

  .button-more {
    font-size: 16px;
    line-height: 19px;
    position: relative;
    cursor: pointer;
    margin: 36px auto 0;
    background-color: transparent;

    &::before {
      position: absolute;
      left: -12px;
      top: -8px;
      content: '';
      border-radius: 4px;
      width: calc(100% + 24px);
      height: calc(100% + 16px);
      transition: all .3s ease-in-out 0s;
    }

    &:hover::before {
      background-color: rgba(0,0,0,.03);
    }
  }
}
</style>
