<template lang="pug">
  div
    Navigation
    Header
    GreetingBlock
    InformationBlock
    Footer
</template>

<script>
import Navigation from '@/components/Navigation'
import Header from '@/components/Header'
import GreetingBlock from '@/components/GreetingBlock'
import InformationBlock from '@/components/InformationBlock'
import Footer from '@/components/Footer'

export default {
  name: 'App',
  components: {
    Navigation,
    Header,
    GreetingBlock,
    InformationBlock,
    Footer
  }
}
</script>

<style>
* {
  font-family: 'Roboto', sans-serif;
  color: #25282B;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  transition: all .3s ease-in-out 0s;
  user-select: none;
  text-decoration: none;
  outline: none;
  border: 0;
}

body {
  background-color: #F3F4F6;
}
</style>
